---
---

@import 'norms';

html {
	height:100%;
}

body {
	background:#222;
	height:100%;
	margin:0;
	padding:0;
}

.wrapper {
	padding:3em;
	width:40em;
	max-width:100%;
	background:white;
	margin:0 auto;
	min-height:100%;
}

.klein {
	width:100%;
	height:auto;
	padding:2em;
	border:1px solid #222;
}

.kleinmaker {
	text-align:center;
}

.controls {
	margin:1em 0;
}

.controls button {
	color:#222;
	font-weight:bold;
}

.download-button {
	height:1.8em;
	vertical-align:bottom;
	width:auto;
	fill:#999;
}

.controls button:hover .download-button {
	fill:#222;
}

.controls button:hover {
	text-decoration:none;
}
