---
---

@import 'norms';
@import 'kleinbar';

.fancy-title
{
	font-size:1em;
    margin:1.5em 0 2em 0;
    font-weight:400;
    font-style:normal;
    font-family:Lora;
}

.fancy-title span
{
    display:block;
    font-style:italic;
    font-size:4.5em;
    font-family:"Playfair Display";
    line-height:0.9;
}

@media (max-width: 600px) {
	.fancy-title span {
		font-size:4em;
	}
}

@media (max-width: 480px) {
	.fancy-title span {
		font-size:3em;
	}
}
