<svg class="download-button download-button-svg" width="138.46mm" height="138.46mm" version="1.1" viewBox="0 0 138.46289 138.46289" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<metadata>
<rdf:RDF>
<cc:Work rdf:about="">
<dc:format>image/svg+xml</dc:format>
<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
<dc:title/>
</cc:Work>
</rdf:RDF>
</metadata>
<g transform="translate(96.445 -109.84)">
<path d="m-27.215 109.84c-38.188 0-69.23 31.044-69.23 69.232 0 38.188 31.042 69.23 69.23 69.23s69.232-31.042 69.232-69.23c0-38.188-31.044-69.232-69.232-69.232zm0 7.9375c33.899 0 61.295 27.396 61.295 61.295s-27.396 61.293-61.295 61.293c-33.899 0-61.293-27.394-61.293-61.293s27.394-61.295 61.293-61.295z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
<path transform="scale(.26458)" d="m-103.08 489.93a15.002 15.002 0 0 0 -14.779 15.215v50.002h30v-50.002a15.002 15.002 0 0 0 -15.221 -15.215zm-14.779 240.22v125a15.002 15.002 0 1 0 30 0v-125z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
<path d="m-60.375 195.79a3.9691 3.9691 0 0 0 -2.3906 7.1035l33.072 26.457a3.9691 3.9691 0 0 0 4.959 0l33.072-26.457a3.9693 3.9693 0 1 0 -4.959 -6.1992l-30.594 24.475-30.594-24.475a3.9691 3.9691 0 0 0 -2.5664 -0.9043z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;isolation:auto;mix-blend-mode:normal;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
<g stroke-width="1.1941" aria-label="SVG">
<path d="m-72.609 176.62c0 4.2509 2.1493 11.463 14.663 11.463 3.0091 0 13.517-0.90749 13.517-11.224 0-6.1614-4.2987-8.072-8.9795-9.2183l-8.3585-2.0538c-1.4329-0.33434-3.63-0.9075-3.63-3.5822 0-3.1046 3.2479-4.1076 5.9704-4.1076 6.257 0 6.8301 3.63 7.0212 5.1584h6.8779c-0.04776-4.2032-2.8658-11.081-13.374-11.081-11.129 0-13.183 6.7346-13.183 10.556 0 7.5466 5.3495 8.7884 10.89 10.078l3.6778 0.85974c3.63 0.85973 6.2092 1.5762 6.2092 4.2509 0 3.63-3.7733 4.442-7.1645 4.442-6.257 0-7.2122-3.63-7.26-5.5405z"/>
<path d="m-27.265 178.87h-0.09553l-7.3555-25.983h-7.6899l11.559 34.294h6.8301l11.654-34.294h-7.451z"/>
<path d="m5.8916 174.47h7.9764c-1.4807 6.9256-6.7346 7.5466-8.3108 7.5466-4.8718 0-9.9825-2.4359-9.9825-11.797 0-8.7884 4.7285-12.323 9.8392-12.323 5.0629 0 7.4988 4.2987 7.4988 5.636h7.1645c-0.3821-4.7285-4.5375-11.559-15.045-11.559h-0.095526c-11.511 0-16.669 8.8362-16.669 18.15 0 12.036 7.4988 17.959 15.762 17.959 6.257 0 8.8839-3.1046 10.699-5.2062l0.71645 4.2987h4.7763v-18.484h-14.329z"/>
</g>
</g>
</svg>
