{% if page.colors.stroke %}{% assign stroke = page.colors.stroke %}{% elsif layout.colors.stroke %}{% assign stroke = layout.colors.stroke %}{% else %}{% assign stroke = '#222222' %}{% endif %}{% if page.colors.buttline %}{% assign buttline = page.colors.buttline %}{% elsif layout.colors.buttline %}{% assign buttline = layout.colors.buttline %}{% else %}{% assign buttline = '#ffffff' %}{% endif %}{% if page.colors.light %}{% assign light = page.colors.light %}{% elsif layout.colors.light %}{% assign light = layout.colors.light %}{% else %}{% assign light = '#ffffff' %}{% endif %}{% if page.colors.dark %}{% assign dark = page.colors.dark %}{% elsif layout.colors.dark %}{% assign dark = layout.colors.dark %}{% else %}{% assign dark = '#ffffff' %}{% endif %}<div class="kleinmaker">

{% if page.controls or layout.controls %}<div class="controls controls-color">
<input type="color" id="light-select" value="{{ light }}" />
<input type="color" id="dark-select" value="{{ dark }}" />
<input type="color" id="stroke-select" value="{{ stroke }}" />
</div>{% endif %}

<svg id="klein" class="klein" width="961.058px" height="870.425px" version="1.1" viewBox="0 0 254.28223 230.29923" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<metadata><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/></cc:Work></rdf:RDF></metadata>
<defs>
<clipPath id="j">
<path d="m28.356 135.05c1.5459 2.412 4.6613 3.684 7.542 3.5781l-40.201 24.696 9.1674 14.967 58.278-8.419 13.564-36.295-7.39-17.399-30.495-4.4901-25.818 7.8577z" fill="none" stroke="#000" stroke-width=".26458px"/>
</clipPath>
<clipPath id="i">
<path d="m-336.09 40.159-1.7229 4.2719-0.43027 5.0017 0.3156 4.8325 0.36388 5.2306 0.72075 4.6175-3.1025 3.6018-2.872 3.124-2.2946 3.0072-3.4734 5.6296-1.4231 4.6845 0.0883 2.9972 0.39251 2.2558 0.89932 2.3196 1.1752 2.4892 1.183 1.2104 1.9113 1.8236 2.9472 1.9075 3.2414 1.4763 3.5057 0.95513 3.385 0.33813 3.9286-0.0291 3.1199-0.78035 2.9091-1.0968 3.595-2.0483 2.3766-3.116 0.89588-1.4576 0.83254-2.3842 0.25172-2.9219 0.16574-3.0108-0.69604-4.3393-1.5271-5.1122-1.8178-4.1812-1.2821-3.5847-1.3981-3.9877-1.0158-3.4592-0.79753-3.5567 0.0177-2.937 0.3366-3.0619-0.13377-2.9553-0.80846-3.0971-1.3112-2.8253-1.6803-2.2956-2.1261-1.7559-1.6457-0.43923-3.6252 0.13962zm5.9652 20.955-0.71993-8.4599-0.0185-4.7281-0.0111-2.8703 0.18796-0.60351 0.51687 0.81684 0.6482 1.3657 0.67162 1.6516 0.15997 1.6351-0.0629 1.1785-0.43542 1.9714-0.91551 2.4804-0.41804 0.66745" fill="none"/>
</clipPath>
<linearGradient id="p" x1="-60.722" x2="-45.305" y1="180.72" y2="88.719" gradientTransform="translate(-272.78 -78.577)" gradientUnits="userSpaceOnUse">
<stop class="dark-stop" stop-color="{{dark}}" offset="0"/>
<stop class="light-stop" stop-color="{{light}}" offset="1"/>
</linearGradient>
<filter id="k" x="-.49821" y="-.75405" width="1.9964" height="2.5081" color-interpolation-filters="sRGB">
<feGaussianBlur stdDeviation="6.3705019"/>
</filter>
<filter id="o" x="-.48326" y="-.7911" width="1.9665" height="2.5822" color-interpolation-filters="sRGB">
<feGaussianBlur stdDeviation="3.3563969"/>
</filter>
<filter id="m" x="-.16739" y="-.42388" width="1.3348" height="1.8478" color-interpolation-filters="sRGB">
<feGaussianBlur stdDeviation="1.0532744"/>
</filter>
<filter id="n" x="-.13203" y="-.075417" width="1.2641" height="1.1508" color-interpolation-filters="sRGB">
<feGaussianBlur stdDeviation="2.0247527"/>
</filter>
<filter id="l" x="-.47942" y="-.28821" width="1.9588" height="1.5764" color-interpolation-filters="sRGB">
<feGaussianBlur stdDeviation="2.9720182"/>
</filter>
</defs>
<g transform="translate(-1.9477e-7 179.02)">
<g transform="matrix(2.8713 3.4533 -3.4533 2.8713 1325 866.72)" clip-path="url(#i)">
<path d="m-336.09 40.159-1.7228 4.2719-0.43029 5.0017 0.31562 4.8325 0.36386 5.2306 0.72076 4.6175-3.1025 3.6018-2.872 3.124-2.2946 3.0072-3.4734 5.6296-1.4231 4.6845 0.0883 2.9972 0.3925 2.2558 0.89931 2.3196 1.1752 2.4892 1.183 1.2104 1.9113 1.8236 2.9473 1.9075 3.2414 1.4763 3.5057 0.95513 3.3851 0.33813 3.9286-0.0291 3.1199-0.78035 2.9091-1.0968 3.595-2.0483 2.3766-3.116 0.89588-1.4576 0.83256-2.3842 0.25172-2.9219 0.16574-3.0108-0.69604-4.3393-1.5271-5.1122-1.8178-4.1812-1.2821-3.5847-1.3981-3.9878-1.0158-3.4592-0.79753-3.5567 0.0177-2.937 0.3366-3.0619-0.13375-2.9553-0.80848-3.0971-1.3112-2.8253-1.6804-2.2956-2.1261-1.7559-1.6457-0.43923-3.6252 0.13962zm5.4036 4.2933 0.51685 0.81684 0.64822 1.3657 0.67162 1.6516 0.15996 1.6351-0.0629 1.1784-0.43542 1.9714-0.91552 2.4804-0.41804 0.66745-0.32307-3.5651-0.0185-4.7281-0.0112-2.8702z" fill="url(#p)"/>
<path class="light-fill" d="m-319.35 77.379c-3.9228-3.15-16.947-4.5177-22.04-1.7316-1.499 0.82006-4.7034 3.3083-4.6514 6.5105 0.0654 4.026 4.0326 6.8347 5.8808 6.369 2.2421-0.56491 5.1545-1.2781 8.1809-0.89631 4.2538 0.53668 7.8372 4.7673 9.2138 4.9107 1.8151 0.18904 6.5131-2.6564 7.2759-5.8249 0.93088-3.867-2.9239-8.5857-3.8599-9.3374z" fill="{{light}}" filter="url(#k)"/>
<path class="light-fill" d="m-328.67 90.431c-1.8234-1.065-3.7664-2.0104-7.4083-1.2568-1.1732 2.8256-3.3836 4.6868-5.7547 5.7547 5.3323 4.2508 10.896 5.1747 16.669 3.0758-1.6702-2.2424-3.2233-4.5507-3.5057-7.5737z" fill="{{light}}" filter="url(#o)"/>
<path class="buttline" d="m-340.13 93.214c-2.8857-6.3313 14.576-6.8356 14.78 1.1693" fill="none" filter="url(#m)" stroke="{{buttline}}" stroke-width="1.5"/>
<path class="buttline" d="m-336.09 40.159-1.7228 4.2719-0.43029 5.0017 0.31562 4.8325 0.36386 5.2306 0.72076 4.6175-3.1025 3.6018-2.872 3.124-2.2946 3.0072-3.4734 5.6296-1.4231 4.6845 0.0883 2.9972 0.3925 2.2558 0.89931 2.3196 1.1752 2.4892 1.183 1.2104 1.9113 1.8236 2.9473 1.9075 3.2414 1.4763 3.5057 0.95513 3.3851 0.33813 3.9286-0.0291 3.1199-0.78035 2.9091-1.0968 3.595-2.0483 2.3766-3.116 0.89588-1.4576 0.83256-2.3842 0.25172-2.9219 0.16574-3.0108-0.69604-4.3393-1.5271-5.1122-1.8178-4.1812-1.2821-3.5847-1.3981-3.9878-1.0158-3.4592-0.79753-3.5567 0.0177-2.937 0.3366-3.0619-0.13375-2.9553-0.80848-3.0971-1.3112-2.8253-1.6804-2.2956-2.1261-1.7559-1.6457-0.43923-3.6252 0.13962zm5.9652 20.955-0.71994-8.4599-0.0185-4.7281-0.0112-2.8702 0.18796-0.60351 0.51685 0.81684 0.64822 1.3657 0.67162 1.6516 0.15996 1.6351-0.0629 1.1784-0.43542 1.9714-0.91552 2.4804-0.41804 0.66745" fill="none" filter="url(#n)" stroke="{{buttline}}" stroke-width="1.5"/>
<path class="light-fill" d="m-335.25 63.671c-0.89121-5.707-5.4988-24.414 5.7393-25.157 1.6037-0.10611 5.9634 1.7991 7.0661 10.166 0.26899 2.0411 0.0804 4.6898-0.0836 7.5386-0.0698 1.2121 1.3077 7.2099 1.5704 8.5845-0.70711-0.9641-6.9011-4.8175-8.9313-4.226 1.7346-3.3102 2.3312-9.081 1.9944-12.038-0.25713-2.2578 0.10418-6.1106-1.1392-7.6952-4.907 0.12484-2.7696 16.501-2.1283 20.962" fill="{{light}}" filter="url(#l)"/>
</g>
</g>
<g transform="translate(83.494 -9.1857)" fill="none" stroke="{{stroke}}">
<path class="stroke" d="m16.088 237.22 10.624-3.9704 10.814-7.5207 10.873-8.0721 12.987-14.864 13.268-19.951 9.2196-18.284 8.6985-14.72 9.7571-16.278 9.0282-13.44 9.9924-12.967 10.193-8.3728 11.539-7.6288 9.8231-8.9464 8.3723-11.685 5.9928-12.64 3.1022-12.395-0.0404-12.383-3.2098-6.9436l-10.89-12.119-18.392-4.4197-19.7 6.3174-18.507 12.875-15.781 14.966-17.018 16.273-13.876 15.748-21.346-0.37141-19.035-0.94672-16.974 0.70972-29.415 4.1704-20.263 8.5353-10.095 8.9115-6.6645 7.8331-5.4268 9.7648-5.2223 11.206-0.7823 7.5604-0.81006 11.837 1.8747 15.654 4.21 15.434 6.7681 14.847 8.5503 12.663 11.382 13.481 11.651 8.535 12.141 6.8958 17.395 6.534 17.585-0.73968z" stroke-width=".83178"/>
<path class="stroke" d="m-26.498 232.52 11.21 1.9206 10.89-3.4902 7.0443-5.8338 3.5562-10.57 1.9675-13.16-0.40734-14.268-4.388-15.756-6.7109-14.944-9.7182-14.826-10.515-12.11-11.948-8.6921-11.42-5.6778-11.807-0.15045-9.2283 1.1454-7.2231 7.0303-5.1845 9.6308-2.6959 12.242" stroke-width=".83178"/>
<path class="stroke" d="m-56.489 125.38-7.5503 1.9195-6.8902 5.6881-4.8376 7.688-0.5833 11.874 0.18458 10.929 3.9284 13.212 6.0528 12.694 7.5274 10.535 8.638 12.14 9.4392 6.9058 10.254 4.2239 9.7011 2.2595 7.872-2.8123 6.1225-4.9557 3.8056-8.4633 2.2062-10.603-2.2577-12.211-2.583-12.648-5.1926-13.504-8.2227-12.396-9.1039-9.7829-10.019-7.7453-9.5205-3.5309z" stroke-width=".83178"/>
<path class="stroke" d="m-47.1 203.58-7.2264-8.1902-5.4135-8.7795-5.1605-10.471-3.1414-10.582-1.139-10.003 1.7951-8.4468 2.9031-5.9793 5.9432-4.4205 7.036-1.3165 5.7173 0.5621 7.7544 4.1132 7.5218 4.9567 8.7001 8.9116 5.5617 9.129 3.944 10.415 2.9573 9.4102 1.1161 10.958-1.2469 7.7171-3.0321 6.9313-6.0315 3.6754-5.7887 2.4078-6.9798-1.0169-7.5652-3.1535z" stroke-width=".83178"/>
<path class="stroke" d="m-47.333 142.92-4.2885 1.807-3.2687 3.5296-2.1198 4.3002-1.7645 7.1741 1.289 5.9742 2.5005 8.5501 3.5247 7.8851 4.0755 7.0493 5.7916 6.2946 5.5193 4.3778 6.1991 2.5901 4.6617 0.32426 5.3207-1.5448 3.1382-2.5509 3.4533-6.2955 0.77035-10.187-2.7618-9.972-2.618-6.5916-5.1445-7.6281-5.9306-6.146-7.1558-5.1249-5.5473-3.3603z" stroke-width=".83178"/>
<path class="stroke" d="m-12.962 187.67-3.2078 2.3243-5.6736 1.8896-3.2105-0.67752-4.0085-1.8224-5.5509-3.2103-4.0094-4.8993-2.8935-4.497-3.1574-6.0043-1.827-6.117-0.62215-4.3728 0.84302-5.3001 3.1929-4.3802 2.9477-2.309 3.9982-1.5545" stroke-width=".83178"/>
<path class="stroke" d="m-31.863 149.84-2.0048 4.6536-0.58204 3.2182-0.19581 3.9292 0.17425 4.724 2.6984 4.7345 2.5559 4.0412 3.6331 3.3773 3.8255 2.0023 4.7486 1.1225 4.4799 0.55518" stroke-width=".83178"/>
<path class="stroke" d="m-76.261 114.4 9.6076-9.4493 9.8112-2.3154 13.475 1.3747 12.832 6.2371 13.236 11.275 12.823 12.841 11.162 16.403 7.0848 17.624 5.2011 17.566 0.94039 17.057-1.9178 14.212-6.3419 10.954-6.7822 7.4161-13.973 3.4531-17.395-6.5341" stroke-width=".83178"/>
<path class="stroke" d="m-64.17 96.805 14.017-3.9864 12.628 2.2549 14.705 6.3572 14.972 10.866 12.839 15.317 11.954 17.772 8.9701 18.409 5.6634 19.014 0.46519 18.096-2.1219 16.458-5.385 11.727-8.4501 8.1265" stroke-width=".83178"/>
<path class="stroke" d="m-54.075 87.894 11.851-3.3639 15.207 1.1163 14.448 7.7017 15.181 11.547 14.48 15.732 11.7 18.269 9.1512 19.604 5.0076 19.556 2.0989 18.811-3.4059 16.803-4.1172 12.058" stroke-width=".83178"/>
<path class="stroke" d="m-33.812 79.358 19.189 0.83318 14.356 7.6149 14.049 10.832 14.549 15.751 12.039 17.906 8.7025 19.843 4.7532 18.58 2.1188 20.003-2.5795 14.583-4.9667 12.35" stroke-width=".83178"/>
<path class="stroke" d="m-4.397 75.188 6.5778 1.4408 11.61 6.9524 12.382 10.274 14.133 14.667 11.044 17.352 8.5159 18.777 4.5449 18.416 2.1827 17.351-2.5354 14.956-2.6724 7.4176" stroke-width=".83178"/>
<path class="stroke" d="m12.577 74.478 14.595 6.5064 13.607 10.091 11.155 12.738 10.491 16.065 7.5089 16.524 4.1058 16.814 1.4772 15.795-0.86332 13.829" stroke-width=".83178"/>
<path class="stroke" d="m31.612 75.425 13.193 5.7504 10.121 7.7176 9.8824 11.536 8.204 13.363 6.4983 13.739 3.8391 15.101 0.79654 13.677-0.27351 8.248" stroke-width=".83178"/>
<path class="stroke" d="m68.023 87.282 8.4957 9.6586 7.2036 10.835 5.3409 11.94 3.1996 11.124 0.50745 13.22-0.1994 5.7773" stroke-width=".83178"/>
<path class="stroke" d="m84.885 88.188 3.3397 4.6581 6.5512 8.4123 4.053 9.3277 2.5494 9.4415 0.83705 8.8751 0.11313 4.6554" stroke-width=".83178"/>
<path class="stroke" d="m93.017 80.805 3.9128 3.6336 3.699 4.4277 4.8212 6.2227 3.0416 6.9488 2.1056 6.054 1.0814 6.5172-0.32022 5.5078" stroke-width=".83178"/>
<path class="stroke" d="m101.87 74.489 3.4107 1.4029 4.4879 4.0402 3.5099 3.8364 3.2541 5.1062 1.9041 5.0737 1.4865 5.1493 0.85329 4.4108 0.56947 3.6423" stroke-width=".83178"/>
<path class="stroke" d="m113.07 70.528 2.4203 1.1238 5.7468 3.4769 3.7402 3.3401 2.5032 4.0267 1.8488 3.5586 1.1917 4.2389 0.70568 4.1256 0.31976 4.3589" stroke-width=".83178"/>
<path class="stroke" d="m121.13 66.371 3.4872 0.77583 3.3977 1.6503 2.9767 2.3214 2.6963 2.612 2.4726 3.0842 2.5649 3.6699 1.9853 3.4968 1.6671 3.4892 0.70744 3.6784" stroke-width=".83178"/>
<path class="stroke" d="m125.38 63.205 3.6034 1.0187 4.1326 1.8368 3.1106 2.0288 3.1665 2.0957 3.2811 2.7991 2.8989 2.6197 2.6412 2.4045 2.2555 1.9811 2.4394 2.2134" stroke-width=".83178"/>
<path class="stroke" d="m130.56 57.957 1.8261 1.9237 3.2984 2.7403 3.4862 2.3719 4.0238 2.0635 3.6966 1.4241 4.0889 1.068 3.5488 0.61959 3.3984 0.33548 3.3476 0.01347" stroke-width=".83178"/>
<path class="stroke" d="m134.34 50.896 1.7012 2.6165 3.3233 2.5419 3.9291 2.1037 4.5667 1.0231 4.0985 0.49748 4.4386-1.35e-4 4.2681-0.15629 3.4426-0.50354 3.1638-1.1406" stroke-width=".83178"/>
<path class="stroke" d="m-28.985 151.86-1.5242-6.8372 2.5311-6.9461 4.4093-8.5988 6.2698-7.9537 9.4522-9.2279 10.459-7.4026 11.171-6.2561 12.39-4.7831 14.606-2.7793 14.148-2.1825 13.097-1.6107 14.685-15.84 16.512-17.74 16.314-15.243 15.237-11.077 14.91-6.8453 12.438-0.78886 9.001 6.4075" stroke-width=".83178"/>
<path class="stroke" d="m12.577 74.478-10.396 2.1506-16.804 3.5627-12.394 5.4545-10.508 9.4277-5.8432 8.9395-3.5688 11.095 0.04626 12.12 1.105 8.7246 4.0972 7.4219" stroke-width=".83178"/>
<path class="stroke" d="m-33.812 79.358-8.4123 5.1714-7.9288 8.289-6.6899 9.8196-1.9018 12.32 2.2551 10.427 4.9862 10.007 4.1701 7.5292" stroke-width=".83178"/>
<path class="stroke" d="m-64.17 96.804-2.4837 8.1486-1.3188 11.15 3.933 11.201 5.5006 9.4037 6.9175 8.0197 11.482 3.5625 6.9626 0.6182" stroke-width=".83178"/>
<path class="stroke" d="m-76.261 114.4 1.0657 8.7306 4.2654 9.8581 6.4481 8.1366 9.5921 7.1289 11.803 2.3418 10.434 0.41452 2.82 0.0647" stroke-width=".83178"/>
<path class="stroke" d="m-81.484 125.61 1.1035 7.1556 4.6123 7.9153 8.3825 6.428 10.375 5.4497 10.73 2.4218 12.412-0.4854 5.3875-1.7806" stroke-width=".83178"/>
<path class="stroke" d="m-83.076 145.01 6.7248 7.5477 7.1707 3.0005 10.406 4.177 11.651 0.54801 12.673-2.5675 7.6562-3.1918" stroke-width=".83178"/>
<path class="stroke" d="m-81.201 160.66 5.0349 2.8226 8.1249 2.0749 10.556 0.14776 10.985-1.0533 11.855-3.0111 9.9593-5.1552" stroke-width=".83178"/>
<path class="stroke" d="m-76.991 176.09 4.7534 0.60109 7.3378-0.55559 9.915-1.884 10.311-3.4866 10.202-4.4038 12.57-6.3795" stroke-width=".83178"/>
<path class="stroke" d="m-70.223 190.94 4.0381-1.5522 6.4455-2.7778 8.2792-4.4705 9.9438-5.3675 9.5862-5.7836 12.434-7.342" stroke-width=".83178"/>
<path class="stroke" d="m-61.673 203.6 3.0151-3.6796 4.3316-4.5337 6.9412-6.2006 8.762-7.9195 9.4051-6.1296 12.208-6.4078" stroke-width=".83178"/>
<path class="stroke" d="m-50.291 217.09 0.27081-5.0213 2.9201-8.4831 5.5064-8.096 6.9798-9.315 9.0289-7.6515 10.292-6.292" stroke-width=".83178"/>
<path class="stroke" d="m-38.639 225.62-1.9412-6.6504 1.7058-8.562 2.8007-10.545 7.0114-10.482 7.3033-8.8595 7.2034-4.5993" stroke-width=".83178"/>
<path class="stroke" d="m-26.498 232.52-3.828-9.3223-0.98319-9.6324 1.4347-11.109 4.8207-11.25 8.0436-9.5594 3.5298-2.3342" stroke-width=".83178"/>
<path class="stroke" d="m-9.1031 239.05-6.185-4.6134-5.337-8.9834-3.7045-10.875-0.88344-11.801 3.3695-10.897 7.3666-9.8784" stroke-width=".83178"/>
<path class="stroke" d="m16.088 237.22-11.217-1.6206-9.2684-4.6505-8.355-8.3056-5.7878-10.47-1.3514-10.938 3.7223-11.242 3.6394-7.7921" stroke-width=".83178"/>
<path class="stroke" d="m37.526 225.73-12.988 3.3646-12.885-0.91029-9.0063-3.0684-9.2766-7.4271-5.8789-9.1904-4.2448-9.814 2.6453-10.296" stroke-width=".83178"/>
<path class="stroke" d="m74.653 182.84-10.596 12.533-10.692 9.9309-11.722 8.3645-11.72 3.6953-11.928-0.13698-11.792-2.6851-9.0271-5.32-6.6526-7.6583-3.8236-9.1781" stroke-width=".83178"/>
<path class="stroke" d="m66.834 60.049 2.1691 1.987 2.8518 2.218 3.448 2.5131 3.4134 2.2818 3.9925 2.3937 3.7314 2.1768 4.403 2.0971 4.611 2.0323" stroke-width=".83178"/>
<path class="stroke" d="m83.852 43.776 2.4182 1.0772 2.7281 1.5815 3.3283 2.2352 3.5074 2.3732 3.3867 2.66 3.7011 2.7449 3.7038 3.2626 3.1264 3.8992" stroke-width=".83178"/>
<path class="stroke" d="m99.633 28.809 2.533 1.0016 2.9943 1.6675 3.6267 2.0754 3.5296 2.3466 3.5084 2.9789 2.921 2.5505 3.7789 3.9379 3.5017 4.6006" stroke-width=".83178"/>
<path class="stroke" d="m118.14 15.935 2.33 1.4068 2.0449 1.5164 3.1478 2.5483 2.4184 2.452 2.6907 3.5241 2.4127 3.6498 1.6948 4.6415 1.0263 6.0152" stroke-width=".83178"/>
<path class="stroke" d="m137.84 9.6173 1.6649 0.97802 2.4153 2.5346 1.8376 3.1584 1.9239 4.2486 0.98731 4.2372-0.0269 5.3879-1.2743 6.614" stroke-width=".83178"/>
<path class="stroke" d="m156.23 14.037 1.3153 3.0333 1.1009 7.2681-2.3891 5.5961-5.8657 6.8873" stroke-width=".83178"/>
<path class="stroke" d="m167.12 26.156-1.4936 2.8157-3.0004 4.1527-5.5894 5.0959-3.3773 1.6995-2.9812 0.5864-3.6621 0.03144-2.5573-0.83763-2.56-1.1571" stroke-width=".83178"/>
<path class="stroke" d="m170.33 33.099-1.2031 1.6595-3.0058 4.3415-4.773 3.9511-5.0692 1.7166-4.2573 0.72302-3.4866-0.11991-3.4721-0.7214-2.4897-0.84441-2.3275-1.6045-1.7178-1.5961" stroke-width=".83178"/>
<path class="stroke" d="m170.37 45.482-4.317 3.2122-4.5384 1.8276-3.7895 0.91703-4.0975 0.48512-4.2842-0.58065-4.64-1.2259-3.3686-1.1424-2.6466-2.101-1.4964-2.1376" stroke-width=".83178"/>
<path class="stroke" d="m139.51 10.595-16.99 8.2625-17.355 12.621-16.162 14.956-17.144 17.82-14.887 16.026-12.163 0.89498-17.633-0.19087-13.381 2.5965-14.057 4.2253-12.302 5.5413-10.25 8.0833-7.7164 8.8194-4.9811 10.536-2.4809 9.5457-0.03144 9.7347 1.8902 6.669" stroke-width=".83178"/>
<path class="stroke" d="m-23.055 158.01 1.2454-4.0718 2.935-6.075 5.82-6.2718 8.5785-7.2227 9.4677-6.7512 12.1-6.988 11.24-6.237 11.974-5.8672 11.628-4.7082 12.875-3.3843 11.711-3.4884 11.705-4.0949 12.403-3.979" stroke-width=".83178"/>
<path class="stroke" d="m100.63 88.867 12.655-5.0987 11.692-5.2993 8.7102-4.7383 5.7048-3.5459 3.8066-3.13 4.6615-7.8757 1.4873-7.8373-0.80808-5.9722-1.5189-4.8332-1.651-3.7619" stroke-width=".83178"/>
<path class="stroke" d="m85.723 87.239 11.207-2.8013 12.842-4.5063 11.461-4.8029 9.754-4.0103 5.2347-3.0295 2.9506-3.0961 4.1187-6.8353 1.4139-8.0402 0.35974-5.4677-0.60404-4.9492-0.50965-2.0632" stroke-width=".83178"/>
<path class="stroke" d="m-19.496 163.65 3.2483-0.58411 5.5959-2.8075 7.3156-3.8424 10.022-5.6464 10.26-5.3811 11.845-6.4916 11.579-6.5987 10.979-6.4219 11.075-5.995 10.588-6.0869 10.71-6.0163 11.053-6.5173 10.672-6.1686 11.088-6.215 10.941-6.3789 8.6798-5.6811 6.5131-3.8308 4.2235-4.5032 5.0634-8.8025 1.6728-7.754-1.6056-6.433-1.3434-4.9851-1.947-3.5672" stroke-width=".83178"/>
<path class="stroke" d="m-15.292 172.23 2.9886 1.2522 6.8444 0.28204 8.834-2.4022 10.396-2.9662 12.145-4.5968 12.027-5.2964 11.13-6.3608 10.793-7.4876 10.068-8.248 9.5771-8.8718 9.5529-7.8156 9.7653-9.1296 9.6611-8.5474 9.9501-8.0903 10.889-7.8975 9.3932-5.5661 6.847-4.8811 5.4135-6.055 5.4131-9.8708 1.3318-8.2389-1.4459-6.671-2.6194-4.8484-1.6772-2.8464" stroke-width=".83178"/>
<g transform="matrix(4.4898 .10801 -.10801 4.4898 -61.147 -535.68)" clip-path="url(#j)" stroke-width=".18521">
<path class="stroke" d="m30.285 137.14 3.3145-3.7651 3.6926-4.1196 3.5832-3.453 3.6916-2.7945 3.5747-1.9294 3.1905 0.12529"/>
<path class="stroke" d="m51.641 121.87-3.0736-0.10023-3.4492 1.769-3.4448 2.7651-3.588 3.459-3.714 4.0998-3.2716 3.8778"/>
<path class="stroke" d="m29.008 136.12 3.1645-3.7638 3.7517-3.9174 3.4579-3.4335 4.0078-2.8737 3.8253-1.8124"/>
<path class="stroke" d="m33.002 138.34 3.1137-3.5042 3.5769-3.9107 3.4421-3.4278 3.1584-2.3918 2.9682-1.4652 2.6641-0.1615 1.5786 0.99391 0.81016 1.2695 0.33409 2.3807"/>
<path class="stroke" d="m34 138.68 3.107-3.4006 3.4275-3.6475 3.4624-3.2778 2.6983-2.2241 2.5886-1.2899 2.1397-0.10218 1.4347 0.67586 0.80999 1.3116 0.03616 2.136-0.37857 2.3082-1.3134 2.5901-1.6107 2.1511-1.761 1.7087-2.445 1.6068-2.276 2.0792-1.9669 2.5195-2.0296 3.2323-2.0212 3.4244-1.8542 2.7729-1.8529 2.8739-1.9253 2.5868-2.3151 2.3506-2.3924 1.4263-2.8731 0.96885-2.6894 0.53454-2.6226-0.30068-1.9711-0.56795-1.7199-1.0216-1.0864-1.3504"/>
<path class="stroke" d="m35.219 138.75 2.9249-3.0352 3.107-3.2239 3.5497-3.1237 2.1549-1.8959 2.0797-1.1442 1.1191-0.0167 1.4867 0.27563 0.98556 1.0524 0.07701 1.662-0.14174 2.0079-1.308 2.4027-1.3651 1.779-1.6382 1.3699-2.2344 1.4596-2.3103 2.0165-2.0289 2.0522-1.9878 2.7061-1.9711 2.4555-1.921 2.6727-2.0158 2.406-2.0907 2.2442-2.3151 1.76-2.3816 1.6914-2.5057 1.1192-2.7896 0.7684-2.4889 0.31739-2.372-0.10023-1.4591-0.74872-0.93946-0.77472"/>
</g>
<path class="stroke" d="m98.368 74.961 3.5059-0.47215 11.193-3.9605 8.0593-4.1575 4.2495-3.1665 5.1867-5.2477 3.7756-7.0614 2.856-6.159 1.3365-4.1319" stroke-width=".83178"/>
<path class="stroke" d="m93.938 79.241 11.346-3.3494 10.203-4.2396 9.1263-4.5054 4.3658-2.9236 3.4093-4.3427 3.651-6.3687 2.6511-6.6379 1.5579-4.6732 0.37545-2.953" stroke-width=".83178"/>
<path class="stroke" d="m142.28 38.422 0.30046 5.3831-1.2388 5.1698-1.9744 7.0788-3.6758 6.567-2.575 3.4392-5.1012 2.7362-10.023 4.3234-10.726 4.7848-12.808 3.9993-4.2277 1.0539" stroke-width=".83178"/>
</g>
</svg>
{% if page.controls or layout.controls %}<div class="controls controls-download">
Download:
<button id="button-svg">{% include button-svg.html %}</button>
<button id="button-png">{% include button-png.html %}</button>
</div>{% endif %}

</div><!-- kleinmaker -->
