<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }}{% unless page.title contains 'SPaSM' %} - SPaSM{% endunless %}{% elsif layout.title %}{{ layout.title }}{% unless layout.title contains 'SPaSM' %} - SPaSM{% endunless %}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% elsif layout.description %}{{ layout.description }}{% else %}{% unless page.content contains '{{' or page.content contains '{%' or page.content == '' %}{{ page.content | strip_html | markdownify | strip_html | strip | newline_to_br | strip_newlines | split:'<br />' | join :' ' | truncatewords: 50 }}{% else %}{{ site.description }}{% endunless %}{% endif %}">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 

{% if page.style %}{% if page.style.first %}{% for sheet in page.style %}<link rel="stylesheet" href="/css/{{ sheet }}.css" type="text/css">
{% endfor %}{% else %}<link rel="stylesheet" href="/css/{{ page.style }}.css" type="text/css">
{% endif %}{% endif %}{% if layout.style %}{% if layout.style.first %}{% for sheet in layout.style %}<link rel="stylesheet" href="/css/{{ sheet }}.css" type="text/css">
{% endfor %}{% else %}<link rel="stylesheet" href="/css/{{ layout.style }}.css" type="text/css">{% endif %}{% endif %}

{% if page.colors.light %}{% assign light = page.colors.light %}{% elsif layout.colors.light %}{% assign light = layout.colors.light %}{% else %}{% assign light = '#eeeeee' %}{% endif %}{% if page.colors.dark %}{% assign dark = page.colors.dark %}{% elsif layout.colors.dark %}{% assign dark = layout.colors.dark %}{% else %}{% assign dark = '#a0a0a0' %}{% endif %}<style>
a {
	background-image:linear-gradient(120deg, {{ light }} 0%, {{ dark }} 200%);
	background-repeat: no-repeat;
	background-size:100% 0.4em;
	background-position:0 95%;
}
a:hover {
	background-image:linear-gradient(120deg, {{ light }} 25%, {{ dark }} 225%);
</style>

<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta property="og:image" content="{{ "/preview.png" | prepend: site.url }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif layout.description %}{{ layout.description }}{% else %}{% unless page.content contains '{{' or page.content contains '{%' or page.content == '' %}{{ page.content | strip_html | markdownify | strip_html | strip | newline_to_br | strip_newlines | split:'<br />' | join :' ' | truncatewords:50 }}{% else %}{{ site.description }}{% endunless %}{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% unless page.title contains 'SPaSM' %} - SPaSM{% endunless %}{% elsif layout.title %}{{ layout.title }}{% unless layout.title contains 'SPaSM' %} - SPaSM{% endunless %}{% else %}{{ site.title }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:see_also" content="{{ site.url }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" href="{{ "/favicon.png" | prepend: site.baseurl | prepend: site.url }}" type="image/x-icon">

</head>

<body>

<div class="wrapper">
{{content}}
</div>

{% if page.script %}{% if page.script.first %}{% for source in page.script %}<script src="/js/{{ source }}.js" type="text/javascript"></script>
{% endfor %}{% else %}<script src="/js/{{ page.script }}.js" type="text/javascript"></script>{% endif %}{% endif %}{% if layout.script %}{% if layout.script.first %}{% for source in layout.script %}<script src="/js/{{ source }}.js" type="text/javascript"></script>{% endfor %}{% else %}<script src="/js/{{ page.script }}.js" type="text/javascript"></script>{% endif %}{% endif %}

</body>

</html>
