---
layout: has-kleinbar
style: main
---
<header>

<p>Welcome to <span class="spasm">SPaSM Club</span>, otherwise known as</p>

<h1 class="fancy-title">
<span>Physics &<br/> Senior Math</span>
</h1>

</header>

{{ content }}

<footer>

<nav class="links">
<ol>
<li><a href="/about">about</a></li>
<li><a href="/blog">blog</a></li>
<li><a href="/contact">contact</a></li>
<li><a href="/klein">klein</a></li>
</ol>
</nav>

</footer>
