---
layout: has-kleinbar
style: blog
colors:
  stroke: '#f4f4cd'
  light: '#f1f2b5'
  dark: '#135058'
  buttline: '#0e3a40'
---
{% include website-title.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<header class="post-header">
    
<h1 class="post-title" itemprop="name headline">{{ page.title | markdownify | strip_html }}</h1>
	
{% if page.date %}<p class="post-meta">
<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} · <span itemprop="author">{{ page.author }}</span>{% endif %}
</p>{% endif %}
	
</header>

<div class="post--content" itemprop="articleBody">
{{ content }}
</div>

</article>

<footer>
<nav class="links">
<ol>
<li><a href="/blog">return</a></li>
</ol>
</nav>
</footer>
